
a{
    text-decoration: none;
    display: inline;
    
}

ul li{
    list-style: none;
    display: inline;
    padding: 0 18px;
    line-height: 40px;
    display: inline;
    
}
img{
    width: 97px;
    display: flex;
    
}
nav ul li a{
    color: black;
    font-size: 25px;
    display: inline;
    padding: 20px 0;
    
    
}
a:hover{
    background-color: rgba(0, 128, 0, 0.763);
    height: 50px;
    color: white;
}
input{
    display: inline;
    height: 40px;
    border-radius: 19px;
    margin-top: 15px;
}
nav{
    display: flex;
    margin-top: -60px;
    margin-right: 40px;
}
ul li a{
    display: inline;
}
.fas{
    padding-top: 25px;
    padding-right: 17px;
    padding-left:17px ;
    padding-bottom: 18px;
    font-size: 20px;
    color: black;
    display: none;   
}
div{
    display: none;
}
div#q{
    display: inline;
}
i.q{
    display: none;
}

@media(max-width:952){
    
    i.q{
        display: flex;
        margin-top: -80px;
        padding-left: 90px;
        font-size: 30px;
    }

    
    div#q{
        display: none;
        display:-100%;
        position: -100%;
    }
    
}
    
@media(max-width: 858px){
    
   
    i.q{
        display: flex;
        margin-top: -80px;
        padding-right: 90px;
        font-size: 30px;
    }
    
    div#q{
        display: none;
        display:-100%;
        position: -100%;
    }
    i.q:checked~div#q{
        display: block;
        visibility: visible;
    }
   
}