body{
    display: flex;
}
a{
    text-decoration: none;
    display: inline;
    
}

ul li{
    list-style: none;
    display: inline;
    padding: 0 18px;
    line-height: 40px;
    display: inline;
    
}
img{
    width: 97px;
    display: inline;
    
}
nav ul li a{
    color: black;
    font-size: 25px;
    display: inline;
    padding: 20px 0;
    
}
a:hover{
    background-color: rgba(0, 128, 0, 0.763);
    height: 50px;
    color: white;
}
input{
    display: inline;
    height: 40px;
    border-radius: 19px;
    margin-top: 15px;
}
nav{
    display: flex;
}
ul li a{
    display: inline;
}
.fas{
    padding-top: 25px;
    padding-right: 17px;
    padding-left:17px ;
    padding-bottom: 18px;
    font-size: 20px;
    color: black;
    
}
@media(max-width:952){
    ul li{
        padding: 0 14px;
    line-height: 30px;
    }
    img{
        width: 89px;
    }
    nav ul li a{
        font-size: 19px;
    }
    input{
        height: 33px;
    }
    .fas{
        padding-top: 11px;
        padding-right: 15px;
        padding-left:15px ;
        padding-bottom: 12px;
        font-size: 15px;}

}
@media(max-width: 858px){
    ul li{
        padding: 0 10px;
    line-height: 20px;
    }
    img{
        width: 76px;
    }
    nav ul li a{
        font-size: 12px;
    }
    input{
        height: 25px;
    }
}